.nope-warn {
  color: rgba(105, 105, 105, 0.8);
  width: 100%;
  height: 500rpx;
  padding-top: 64rpx;
  display: flex;
  justify-content: center;
}

.tip {}

.tip .title {
  /* rgba(220, 220, 220, 0.5)*/
  background: rgba(193, 203, 215, 0.5);
  padding: 24rpx;
  border-radius: 6rpx;
  margin-bottom: 48rpx;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
  font-weight: bold;
}

.tip .detail {
  background: rgba(181, 196, 177, 0.25);
  border-radius: 6rpx;
  margin-bottom: 24rpx;
  padding: 24rpx;
}

.tip .warning {
  background: rgba(224, 205, 207, 0.25);
  border-radius: 6rpx;
  padding: 24rpx;
  margin-bottom: 48rpx;
}

.start-button {
  background: rgba(201, 192, 211, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
  padding: 24rpx;
  text-align: center;
}

.start-button:active {
  background: rgba(201, 192, 211, 0.25);
}
