.index {}

.tips {
  font-size: 28rpx;
  margin-bottom: 32rpx;
  color: rgba(105, 105, 105, 1);
  background: rgba(220, 220, 220, 0.25);
  padding: 16rpx;
  border-radius: 8rpx;
}

AtButton {
  padding: 32rpx;
}

.cards {
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: calc((100% - 16rpx - 32rpx - 16rpx)/ 2);
  height: 200rpx;
  padding: 8rpx;
  border-radius: 8rpx;
  /* rgba(220, 220, 220, 0.5)*/
  /*background: rgba(193, 203, 215, 0.5);*/
  margin-bottom: 32rpx;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.card:active {
  background: rgba(193, 203, 215, 0.8);
}

.card .card-title {
  font-weight: bold;
  margin-bottom: 8rpx;
  color: rgba(105, 105, 105, 1);
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: dotted 1rpx rgba(105, 105, 105, 0.5);
}

.card .card-body {
  font-size: 28rpx;
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(105, 105, 105, 0.8);
}

.nope-warn {
  color: rgba(105, 105, 105, 0.8);
  width: 100%;
  height: 500rpx;
  padding-top: 64rpx;
  display: flex;
  justify-content: center;
}
