.overview-wrap {
  background: #c1cbd7;
  padding: 24rpx;
  border-radius: 6rpx;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
  margin-bottom: 64rpx;
}

.overview-wrap{

}

.overview-info{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    line-height: 1;
}

.overview-title {
  font-weight: bold;
  font-size: 24rpx;
}

.overview-data {
  font-size: 48rpx;
}

.historys-tip {
  padding: 12rpx 24rpx;
  font-size: 28rpx;
  font-weight: bold;
  /* rgba(193, 203, 215, 0.8)*/
  color: gray;
  border-bottom: dotted 5rpx rgba(0, 0, 0, 0.25);
}
