.index {}

.start-button {
  width: 250rpx;
  height: 250rpx;
  align-items: center;
  background: rgba(105, 105, 105, 0.4);
  border: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 64rpx;
  font-weight: bold;
  backdrop-filter: blur(5px);
}

.sub-button-wrap {
  padding: 48rpx 64rpx;
}

.sub-button {
  background: rgba(105, 105, 105, 0.4);
  border: none;
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
}

.daily-words {
  font-size: 48rpx;
  font-weight: bold;
  /*color:transparent;  rgba(105, 105, 105, 0.7)*/
  text-align: center;
  filter: invert(1) grayscale(1) contrast(9);
}
